<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @animal.nombre %>
</p>

<p>
  <strong>Animal type:</strong>
  <%= @animal.animal_type %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
